
.bar{
    background-color:#125869 ;
    color: #ffffff;
    padding: 2px 0 2px 6px;
    height: 50px;
    transition :0.5s;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
   

}
.barextend{
    height:1500px;
    border-radius: 20px;
    padding: 20px 20px;
    align-items: center;
    color: #ffffff;
}
body{
    background-color:  #ffffff;

}
nav{
    color: #ffffff;
    background-color: #125869;
    height: 100px;
}
.head{
 background-color: #09272f;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 20px;

}
.textc{

    text-align: left;
    padding: 2px 10px 2px 10px;
    border-radius: 20px;
    font-size: large;
    background-image: linear-gradient(to right, rgb(188, 255, 243),rgb(187, 222, 253),rgb(227, 226, 249));
}
.ok{
    padding: 5px 0 5px 2px;
}


.faq-heading{
    border-bottom: #777;
    padding: 2px 6px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #f9f5f5;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #1f2c2f;
    transition: 0.5s;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: rgb(63, 97, 99);
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
