
.bar{
    background-color:#125869 ;
    color: #ffffff;
    padding: 2px 0 2px 6px;
}
body{
    background-color:  #ffffff;

}
nav{
    color: #ffffff;
    background-color: #125869;
}
.head{
    
}
