<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>resourcelab</title>
    <link rel="stylesheet" href="{{css}}">
        <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
</head>
<body>

    {{{body}}}

<script src="{{script}}"></script>
</body>
</html>